html  {
    font-family: sans-serif;
	height:100%;
    background-color: #666666;
	background-image:url("bg.png");
	background-size: 100% 100%;
}

#view {
    width: 30%;
	min-height: 40%;
    left: 0px;
    background-color: #424242;
    opacity: 20%;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 4px;
}
p {
    color: white;
}
.title {
    font-family: 'Biryani', sans-serif;
    margin-bottom: -20px;
    color: white;
}

input {
    caret-color: #8ab0e2;
    background-color: lightgray;
    color: #424242;
}

input[type=text], select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
  width: 90%;
  background-color: #8ab0e2;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #6c8bb5;
}

a {
    text-decoration: none;
    color: white;
}

#stage {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #424242;
}
#top {
    width:98%;
    height: 7%;
    position: relative;
    margin-left: 0;
    padding-top: 10px;
    background-color: #424242;
}

.wordlogo {
    height: 50%;
    width: auto;
    margin-left: 10px;
    margin-top: 0px;
    position: absolute;
}

.imagelogo {
    height: 55%;
    width: auto;
    margin-top: 0px;
    margin-left: 48%;
    position: absolute;
    
}

.user {
    right: 10px;
    height: auto;
    width: auto;
    position: absolute;
}

#left {
    width: 19%;
    height: 87%;
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    background-color: #969696;
    border-radius: 4px;
}

#right {
    width:79%;
    height: 87%;
    position: absolute;
    margin-left: 19%;
    margin-top: 0;
    background-color: #666666;
    border-radius: 4px;
}
::placeholder {
    color: white;
}
#right input[type=text], select {
    width: 90%;
    padding: 12px 20px;
    margin-left: 5%;
    bottom: 20px;    
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #969696;
    border-radius: 4px;
    position: absolute;
    box-sizing: border-box;
}