html  {
    font-family: sans-serif;
	height:100%;
    background-color: #424242;
	background-size: 100% 100%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #424242;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.login-register-bg {
	background-image:url("bg.png");
}
#view {
    width: 30%;
	min-height: 40%;
    left: 0px;
    background-color: #424242;
    opacity: 20%;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 4px;
}
p {
    color: white;
}
.title {
    font-family: 'Biryani', sans-serif;
    margin-bottom: -20px;
    color: white;
}

input {
    caret-color: #8ab0e2;
    background-color: lightgray;
    color: #424242;
}

input[type=text], select {
  width: 80%;
  caret-color: #8ab0e2;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
  width: 80%;
  background-color: #8ab0e2;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #6c8bb5;
}

a {
    text-decoration: none;
    color: white;
}
#stage {
    width: 100%;
    height: 100%;
    position: fixed;
}

#top {
    width:98%;
    brackground-color: #424242;
    box-shadow: 0px 8px 10px -8px black;
    height: 40px;
    position: relative;
	z-index:2;
    margin-left: 0;
	padding-top: 10px;
	border-radius: 4px;
}

.valleywordlogo {
    height: 30px;
    width: auto;
    margin-left: 10px;
    margin-top: 0px;
    position: absolute;
}

.valleyimage {
    height: 30px;
    width: auto;
    margin-top: 0px;
    margin-left: 48%;
    position: absolute;
    
}

.user {
    right: 10px;
    height: 30px;
    width: 30px;
    position: absolute;
}


.user .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #898b8e;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  right: 70px;
  position: absolute;
  z-index: 3;
}

.user:hover .tooltip {
  visibility: visible;
}

.user .tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

#left {
    width: 19%;
    height: 87%;
    position: absolute;
    box-shadow: 8px 0px 10px -8px black;
    margin-left: 0;
    margin-top: 0;
    background-color:#898b8e;
    border-radius: 4px;
    z-index:1;
}

.dropbtn{
	background-color: #898b8e;
  	border: none;
  	color: #424242;
	width: 100%;
	font: bold 12px/30px Arial;
	height:40px;
	padding-left:10px;
  	text-align: left;
  	text-decoration: none;
  	display: inline-block;
}


.friend{
        background-color: #898b8e;
        border: none;
        color: white;
        width: 100%;
        font: bold 14px/30px Arial;
        height:60px;
        padding:10px;
 	padding-left:20px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
}
.friend:hover {
  background-color: #424242;
  color:white;
}
#right {
    width:79%;
    height: 87%;
    position: absolute;
    margin-left: 19%;
    margin-top: 0;
    background-color: #424242;
    border-radius: 4px;
    z-index:0;
}
#output {
margin-left:20px;

padding:10px;
/*border-left: 5px solid;
border-color: #8ab0e2;*/
font: normal 12pt arial;
}
::placeholder {
    color: white;
}

#feedback {
margin-bottom: 5px;
bottom: 5px;
margin-left: 5%;
}
#right input[type=text], select {
    width: 90%;
    padding: 12px 20px;
    margin-left: 5%;
    bottom: 10px;    
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #969696;
    border-radius: 4px;
    position: absolute;
    box-sizing: border-box;
}
